@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
}

section.mainPage {
  background-image: url(/images/bg.jpg);
  background-size: cover;
  height: 680px;
  -webkit-box-shadow: inset 0 0 250px #000000;
          box-shadow: inset 0 0 250px #000000;
}

section.mainPage nav {
  background: transparent;
  border-bottom: 1px solid white;
  padding: 0;
  margin: 0 30px;
}

section.mainPage nav ul li {
  padding: 57px 20px;
}

section.mainPage nav ul li a {
  font-weight: 500;
  padding: 50px 0px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

section.mainPage nav ul li a:hover {
  opacity: 0.7;
}

section.mainPage nav a {
  text-decoration: none;
  font-size: 15px;
}

section.mainPage .slider-content {
  margin: 0 20px;
  padding: 65px 0;
  border-bottom: 1px solid white;
}

section.mainPage .slider-content h1 {
  font-size: 60px;
  font-weight: 0;
  color: white;
  margin-bottom: 35px;
}

section.mainPage .slider-content .slide-btn a {
  text-decoration: none;
  background-color: white;
  color: #424242;
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
  padding: 8px 30px;
  margin-left: 10px;
  margin-right: 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

section.mainPage .slider-content .slide-btn a:hover {
  opacity: 0.7;
}

section.mainPage .slider-content .readMore a {
  position: relative;
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border: 2px solid white;
  padding: 5px 25px;
  border-radius: 10px;
  margin-bottom: 10px;
}

section.mainPage .slider-content .readMore a:before {
  content: " ";
  width: 0px;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.3)), color-stop(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section.mainPage .slider-content .readMore a:hover::before {
  -webkit-animation: bounce 0.3s;
          animation: bounce 0.3s;
}

section.mainPage .slider-content .readMore a:focus {
  background-color: red;
}

@-webkit-keyframes bounce {
  0% {
    left: 0px;
    width: 20px;
  }
  100% {
    left: 80px;
    width: 0px;
  }
}

@keyframes bounce {
  0% {
    left: 0px;
    width: 20px;
  }
  100% {
    left: 80px;
    width: 0px;
  }
}

.sec2 {
  background-color: #e7e2e2;
  padding: 0px 30px;
}

.sec2 .card .card-body::before {
  content: "";
  width: 13px;
  height: 80px;
  z-index: 99;
  background-image: url(/images/indicator-l.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(-50% -50%);
          transform: translateX(-50% -50%);
  top: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sec2 .card .title span {
  color: black;
  font-weight: 800;
  margin-right: 10px;
}

.sec2 .card .title a {
  border: 2px solid pink;
  color: #e05269;
  font-weight: 800;
  font-size: 13px;
  text-decoration: none;
  margin-top: -6px;
  font-weight: 700;
  padding: 3px 8px;
  border-radius: 20px;
}

.sec2 .card h4 {
  font-size: 35px;
  font-weight: 500;
}

.sec2 .card p {
  color: black;
  font-weight: 500;
}

.sec2 .card a {
  text-decoration: none;
  border: 2px solid orangered;
  padding: 5px 25px;
  color: orangered;
  font-weight: 700;
  border-radius: 10px;
}

.sec3 {
  padding: 0 30px;
  background-color: #e7e2e2;
}

.sec3 .card img {
  width: 100%;
}

.sec3 .card .card-body::before {
  content: "";
  width: 70px;
  height: 30px;
  z-index: 99;
  background-image: url(/images/indicator-t.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  -webkit-transform: translateX(-50% -50%);
          transform: translateX(-50% -50%);
  bottom: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sec3 .card .title span {
  color: black;
  font-weight: 800;
  margin-right: 10px;
}

.sec3 .card .title a {
  border: 2px solid pink;
  color: #e05269;
  font-weight: 800;
  font-size: 13px;
  text-decoration: none;
  margin-top: -6px;
  font-weight: 700;
  padding: 3px 8px;
  border-radius: 20px;
}

.sec3 .card h4 {
  font-size: 35px;
  font-weight: 500;
}

.sec3 .card p {
  color: black;
  font-weight: 500;
}

.sec3 .card a {
  text-decoration: none;
  border: 2px solid orangered;
  padding: 5px 25px;
  color: orangered;
  font-weight: 700;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */