@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
body{
margin: 0;
padding: 0;
font-family: 'Mukta', sans-serif;
}
section.mainPage{
   background-image: url(/images/bg.jpg);
   background-size: cover;
   height: 680px;
   box-shadow: inset 0 0 250px #000000;
   nav{
     background: transparent;
     border-bottom: 1px solid white;
     padding: 0;
     margin: 0 30px;
     ul{
       li{
         padding: 57px 20px;
         a{
          font-weight: 500;
          padding: 50px 0px;
          text-decoration: none; 
          color: white;
          font-size: 16px;
          transition: all 0.1s linear;
          &:hover{
            opacity: 0.7;
          }
         }
       }
     }
     a{
       text-decoration: none;
       font-size: 15px;
     }
   }
   .slider-content{
    margin: 0 20px;
    padding:65px 0;
    border-bottom: 1px solid white;
     h1{
       font-size: 60px;
       font-weight: 0;
       color: white;
       margin-bottom: 35px;
     }
     .slide-btn a{
       text-decoration: none;
       background-color: white;
       color: rgb(66, 66, 66);
       font-size: 13px;
       font-weight: 600;
       border-radius: 20px;
       padding: 8px 30px;
       margin-left: 10px;
       margin-right: 15px;
       text-transform: uppercase;
       transition: all 0.2s linear;
       &:hover{
         opacity: 0.7;
       }
     }
     .readMore a{
       position: relative;
       margin-left: 10px;
       text-decoration: none;
       color: white;
       font-weight: 800;
       background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
       border: 2px solid white;
       padding: 5px 25px;
       border-radius: 10px;
       margin-bottom: 10px;
        &:before{
         content: " ";
         width: 0px;
         height: 100%;
         background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.1));
         position: absolute;
         left: 0;
         top: 0;
         transition: all 0.3s linear;
       }
       &:hover::before{
         animation: slide 0.3s;
       }
       &:focus{
         background-color: red;
       }
       @keyframes slide {
        0%   {left: 0px; width: 20px}
        100% { left:80px; width: 0px; }
      }
    }
   }
}
.sec2{
  background-color: rgb(231, 226, 226);
  padding: 0px 30px;
  .card{
    .card-body{
        &::before{
          content: "";
          width: 13px;
          height: 80px;
          z-index: 99;
          background-image: url(/images/indicator-l.svg);
          background-repeat: no-repeat;
          position: absolute;
          right: 50%;
          transform: translateX(-50% -50%);
          top: 20px;
          transition: all 0.3s linear;
      }
    }
      .title{
         span{
           color: black;
           font-weight: 800;
           margin-right: 10px;
         }
         a{
           border: 2px solid pink;
           color: #e05269;
           font-weight: 800;
           font-size: 13px;
           text-decoration: none;
           margin-top: -6px;
           font-weight: 700;
           padding: 3px 8px;
           border-radius: 20px;
         }
      }
      h4{
        font-size: 35px;
        font-weight: 500;
      }
      p{
        color: black;
        font-weight: 500;
      }
      a{
        text-decoration: none;
        border: 2px solid orangered;
        padding: 5px 25px;  
        color: orangered;
        font-weight: 700;
        border-radius: 10px;

      }
  }
}
.sec3{
  padding: 0 30px;
  background-color: rgb(231, 226, 226);
  .card{
    img{
      width: 100%;
    }
    .card-body{
        &::before{
          content: "";
          width: 70px;
          height: 30px;
          z-index: 99;
          background-image: url(/images/indicator-t.svg);
          background-repeat: no-repeat;
          position: absolute;
          left: 20px;
          transform: translateX(-50% -50%);
          bottom: 50%;
          transition: all 0.3s linear;
      }
    }
      .title{
         span{
           color: black;
           font-weight: 800;
           margin-right: 10px;
         }
         a{
           border: 2px solid pink;
           color: #e05269;
           font-weight: 800;
           font-size: 13px;
           text-decoration: none;
           margin-top: -6px;
           font-weight: 700;
           padding: 3px 8px;
           border-radius: 20px;
         }
      }
      h4{
        font-size: 35px;
        font-weight: 500;
      }
      p{
        color: black;
        font-weight: 500;
      }
      a{
        text-decoration: none;
        border: 2px solid orangered;
        padding: 5px 25px;  
        color: orangered;
        font-weight: 700;
        border-radius: 10px;

      }
  }
}