<!-- //
    include config.php
 -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="http://habari.pocs.tech/public/images/favicon.ico" type="image/x-icon" />
    <title>Habari</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="page-wrapper">
        <div id="mobiNavModal" class="mobi-nav-modal">
            <div class="overlay-mobi-modal"></div>
            <div class="modal-navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Insight</a>
                    </li>
                    <li>
                        <a href="#">Innovation</a>
                    </li>
                    <li>
                        <a href="#">Inspiration</a>
                    </li>
                    <li>
                        <a href="#">Life at Absa</a>
                    </li>
                    <li>
                        <a href="#">Money</a>
                    </li>
                    <li>
                        <a href="#">Career</a>
                    </li>
                </ul>
            </div>
        </div>
        <%- include('partials/header.ejs') %>

            <main id="app" class="root">
                <!-- 
                PB - Page Banner
             -->
                <div class="detail-page has-pb-holder">
                    <section class="pb-wrapper">
                        <div class="image-overlay"
                            style="background-image: url('http://habari.pocs.tech/public/images/image_content/pb_image_1.jpg')">
                        </div>
                        <div class="pb-content text-center">
                            <div class="container">
                                <div class="ip-banner-content">
                                    <h1 class="pb-title">Five books by African authors <br /> to read this holiday
                                        season </h1>
                                    <p class="pb-excerpt">From memoirs and biographies to short stories and historical
                                        fiction, 2019 has proved to be a prolific year for African authors releasing
                                        much-anticipated reads. These are the five books worth winding down with as you
                                        put your feet up to enjoy your much-deserved, year-end rest.</p>
                                    <div class="tag-group">
                                        <a href="#" class="badge badge-white badge-btn text-uppercase">Innovation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="post-details">
                        <div class="container">
                            <div class="post-card">
                                <div class="posts post-mth-1 has-post-share">
                                    <div class="post-content">
                                        <div class="post-share-meta wow fadeInUp" data-wow-delay='600ms'>
                                            <div class="post-ss">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-twitter.svg"
                                                                class="iconut-di_twitter">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-linkedin.svg"
                                                                class="iconut-di_linkedin">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-facebook.svg"
                                                                class="iconut-di_facebook">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-cb-tr-envelope-small.svg"
                                                                class="iconcb-tr_envelope-small">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ill-te-printer.svg"
                                                                class="iconill-te_printer">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="posted-by">
                                                <!-- Avatar Image Size: 92w:92h -->
                                                <div class="image">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/avatar.jpg"
                                                        srcset="http://habari.pocs.tech/public/images/image_content/avatar@2x.jpg 2x,
                                                    http://habari.pocs.tech/public/images/image_content/avatar@3x.jpg 3x"
                                                        class="avatar">
                                                </div>
                                                <div class="avatar-name text-uppercase">
                                                    Thando Ndabezitha
                                                </div>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p class="txt-size-h text-blurb mb-80">
                                                        From memoirs and biographies to short stories and historical
                                                        fiction, 2019 has proved to be a prolific year for African
                                                        authors releasing much-anticipated reads. These are the five
                                                        books worth winding down with as you put your feet up to enjoy
                                                        your much-deserved, year-end rest.
                                                    </p>
                                                    <hr class="hr-primary size-21 mb-28 mt-0" />
                                                    <div class="post-story">
                                                        <h4 class="mb-48">Out of Darkness, Shining Light by Petina
                                                            Gappah<h4>
                                                                <p class="mb-48"><strong>Genre:</strong>
                                                                    Historical-fiction<br />
                                                                    It took the internationally acclaimed Harare-based
                                                                    author and human rights lawyer 21 years to write
                                                                    this book. An ode to the 69 workers who transported
                                                                    David Livingstone's body from what is now Zambia to
                                                                    Zanzibar over nine months in 1873, it's a story of
                                                                    the ordinary men and women who – though subjugated
                                                                    by colonialism – contributed to the making of
                                                                    history. "I want people to know that they were more
                                                                    than just adult companions," Gappah said of the
                                                                    workers in a New York Times interview. "They were
                                                                    people with their own wishes, own desires and own
                                                                    motives." The story unfolds through the narrative
                                                                    voices of a cook, Halima, and a former slave, Jacob
                                                                    Wainwright.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="magic-post-wrapper mb-70 mt-70">
                                    <img src="http://habari.pocs.tech/public/images/image_content/image-big-1.jpg"
                                        alt="" class="img-responsive-w100">
                                </div>
                                <div class="posts post-mth-2">
                                    <div class="post-content">
                                        <div class="post-p1 pb-60 pl-30 pr-30 plr-xs-15">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-12 col-xs-12">
                                                    <div class="description">
                                                        <div class="post-story pl-52 story_1 pl-xs-0">
                                                            <h4 class="mb-48">Beneath the Tamarind Tree: A Story of
                                                                Courage, Family, and the Lost Schoolgirls of Boko Haram
                                                                by Isha Sesay</h4>
                                                            <p class="mb-48"><strong>Genre:</strong> Biographical <br />
                                                                2014 does not seem like a very long time ago but, in the
                                                                24-hour news cycle era, it's a lifetime ago. With great
                                                                empathy and incisiveness, former CNN Africa reporter
                                                                Sesay details the story of the 276 Nigerian schoolgirls
                                                                who were abducted five years ago to remind the world
                                                                never to forget that "as individuals… to know the
                                                                intention of groups like Boko Haram and to still look
                                                                away from the Chibok girls is to betray our shared
                                                                humanity". Sesay brings herself into the story of these
                                                                girls in a sensitive and self-reflective way as she
                                                                follows the journey of some of the girls who made it
                                                                back home in December 2016. "I instantly recognised the
                                                                course of their preabduction lives because in many ways,
                                                                it mirrored a story I had known my whole life," she
                                                                writes, reflecting on her mother's hardships growing up
                                                                in Sierra Leone as a girl-child.</p>
                                                            <h4 class="mb-48">Afrotopia by Felwine Sarr (translated by
                                                                Drew S. Burk)</h4>
                                                            <p class="mb-0"><strong>Genre:</strong> Philosophy <br />
                                                                Armed with an economics background and artistic flair,
                                                                Sarr turns to an impressive project of proposing a new,
                                                                utopian philosophy to rally us together as Africans
                                                                around a shared vision as we enter a new decade. The
                                                                Senegalese musician, novelist and economics professor
                                                                advocates for a collective African consciousness that is
                                                                rooted in optimism about what impact this continent can
                                                                have on the rest of the world if we celebrate and
                                                                creolise what makes us unique in our diverse
                                                                intellectual and cultural heritages. This is his first
                                                                book to be translated into English and is due for
                                                                international release on 12 December. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 hidden-xs hidden-sm">
                                                    <div id="widget_relatedStories" class="card-related-stores">
                                                        <h5 class="card-title text-uppercase">Related Stories</h5>
                                                        <div class="related-post-wrapper rel_post--list">
                                                            <div class="related-post">
                                                                <div class="post-image">
                                                                    <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg"
                                                                        alt="" class="img-responsive-w100" />
                                                                </div>
                                                                <div class="post-meta">
                                                                    <p class="excerpt">If it meant that all cities had
                                                                        beaches as beautiful as Barcelona’s, we think
                                                                        more places should ship in powdery, white sand.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="related-post">
                                                                <div class="post-image">
                                                                    <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg"
                                                                        alt="" class="img-responsive-w100" />
                                                                </div>
                                                                <div class="post-meta">
                                                                    <p class="excerpt">If it meant that all cities had
                                                                        beaches as beautiful as Barcelona’s, we think
                                                                        more places</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="magic-post-wrapper pl-30 pr-30">
                                            <div class="row">
                                                <div class="col-md-4 mb-sm-30 mb-xs-30">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/pic_r_1.png"
                                                        alt="" class="img-responsive-w100" />
                                                </div>
                                                <div class="col-md-4 mb-sm-30 mb-xs-30">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/pic_r_2.png"
                                                        alt="" class="img-responsive-w100" />
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/pic_r_3.png"
                                                        alt="" class="img-responsive-w100" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-p2 pt-60 pl-30 pr-30 pb-xs-0">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="description pl-30 pl-xs-0">
                                                        <div class="post-story pl-30 story_2 pl-xs-0">
                                                            <h4 class="mb-48">The Eternal Audience of One by Rémy
                                                                Ngamije</h4>
                                                            <p class="mb-48"><strong>Genre:</strong> Novel <br />
                                                                In this debut novel, turbulent histories meet the
                                                                uncertain present in a story of displacement as we
                                                                follow protagonist Séraphin's journey to find a place to
                                                                belong. The young man moves from Rwanda, to Namibia,
                                                                then to Cape Town, always seeking to belong. While he
                                                                resents his parents' decision to settle in Windhoek
                                                                ("The best thing to do in the city [of Windhoek] is
                                                                arrive and leave," he says. "The mistake you want to
                                                                avoid making is trying to ‘make the most of it'. My
                                                                parents did that. I have not forgiven them for their
                                                                sense of optimism"), he's also aware of his own
                                                                disconnectedness. The encounters he has with friends and
                                                                lovers shape him in a sense as he journeys self in a
                                                                metaphoric way while he moves from place to place. But
                                                                will he ever know what it means to belong in the world?
                                                            </p>
                                                            <h4 class="mb-48">Living Coloured (Because Black and White
                                                                were Already Taken) by Yusuf Daniels </h4>
                                                            <p class="mb-0"><strong>Genre:</strong> Short stories <br />
                                                                This is an oftentimes-hilarious, sometimes-painful
                                                                meditation on the lived experience of growing up with a
                                                                Coloured racial identity in apartheid South Africa. It
                                                                was Facebook that first got the author interested in
                                                                sharing his stories, never knowing that his popular
                                                                posts could one day lead to a manuscript that landed him
                                                                a publishing deal for a book that's a bestseller. Living
                                                                Coloured, which has sold more than 6 500 in five months,
                                                                is a charming and joyful expression of what it is to
                                                                belong to a community and a book that, through each
                                                                story, is ultimately about celebrating your identity.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="post-area related-post post-grid pb-30 pt-30 bg-white">
                        <div class="container">
                            <h2 class="post-heading">In and around Habari</h2>
                            <article class="grid-three grid_landscape--post wow fadeIn">
                                <div class="row">
                                    <div class="col-md-4 pt-30 pb-30 pb-sm-0 pb-xs-0 col-sm-12">
                                        <div class="single-post has-audio">
                                            <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                                            <div class="post-image">
                                                <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg"
                                                    alt="" class="img-responsive-w100" />
                                                <div class="audio-flex">
                                                    <div class="audio-pic">
                                                        <img src="http://habari.pocs.tech/public/images/icons/headphones.svg"
                                                            alt="" />
                                                    </div>
                                                    <div class="audio-text">This story has audio</div>
                                                </div>
                                                <div class="overlay-shadow"></div>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-top-meta">
                                                    <div class="post-date">11/10/19</div>
                                                    <div class="post-tags">
                                                        <a href="#"
                                                            class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                                    </div>
                                                </div>
                                                <div class="post-meta">
                                                    <h4 class="post-title">The power of connectivity</h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation</p>
                                                </div>
                                                <div class="post-action">
                                                    <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 pt-30 pb-30 pb-sm-0 pb-xs-0">
                                        <div class="single-post has-audio">
                                            <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                                            <div class="post-image">
                                                <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg"
                                                    alt="" class="img-responsive-w100" />
                                                <div class="audio-flex">
                                                    <div class="audio-pic">
                                                        <img src="http://habari.pocs.tech/public/images/icons/headphones.svg"
                                                            alt="" />
                                                    </div>
                                                    <div class="audio-text">This story has audio</div>
                                                </div>
                                                <div class="overlay-shadow"></div>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-top-meta">
                                                    <div class="post-date">11/10/19</div>
                                                    <div class="post-tags">
                                                        <a href="#"
                                                            class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                                    </div>
                                                </div>
                                                <div class="post-meta">
                                                    <h4 class="post-title">The Year of the Return</h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation</p>
                                                </div>
                                                <div class="post-action">
                                                    <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 pt-30 pb-30">
                                        <div class="single-post has-audio">
                                            <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                                            <div class="post-image">
                                                <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg"
                                                    alt="" class="img-responsive-w100" />
                                                <div class="audio-flex">
                                                    <div class="audio-pic">
                                                        <img src="http://habari.pocs.tech/public/images/icons/headphones.svg"
                                                            alt="" />
                                                    </div>
                                                    <div class="audio-text">This story has audio</div>
                                                </div>
                                                <div class="overlay-shadow"></div>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-top-meta">
                                                    <div class="post-date">11/10/19</div>
                                                    <div class="post-tags">
                                                        <a href="#"
                                                            class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                                    </div>
                                                </div>
                                                <div class="post-meta">
                                                    <h4 class="post-title">The Year of the Return</h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation</p>
                                                </div>
                                                <div class="post-action">
                                                    <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
            </main>


            <%- include('partials/footer.ejs') %>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://habari.pocs.tech/public/libs/jquery-1124/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://habari.pocs.tech/public/libs/bootstrap-v341/js/bootstrap.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/wow/wow.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/match-height/jquery.matchHeight-min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/script.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                if ($('.wow').length) {
                    var wow = new WOW(
                        {
                            boxClass: 'wow',      // animated element css class (default is wow)
                            animateClass: 'animated', // animation css class (default is animated)
                            offset: 0,          // distance to the element when triggering the animation (default is 0)
                            mobile: false,       // trigger animations on mobile devices (default is true)
                            live: true       // act on asynchronously loaded content (default is true)
                        }
                    );
                    wow.init();
                }
                shiftHeroSlider();
                stickyFooter();
                toggleMobiMenu();
                postEqHeight();
                $(window).resize(function () {
                    shiftHeroSlider();
                    stickyFooter();
                    postEqHeight();
                })
            })

        })(jQuery);
    </script>
</body>

</html>