<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <section class="mainPage">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#"> <img src="/images/logo-white.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto ml-auto">
                        <li>
                            <a href="#">Insight</a>
                        </li>
                        <li>
                            <a href="#">Innovation</a>
                        </li>
                        <li>
                            <a href="#">Inspiration</a>
                        </li>
                        <li>
                            <a href="#">Life at Absa</a>
                        </li>
                        <li>
                            <a href="#">Money</a>
                        </li>
                        <li>
                            <a href="#">Career</a>
                        </li>

                    </ul>
                    <a class="search-container pointer text-white" id="siteSearch">
                        <img src="http://habari.pocs.tech/public/images/icons/search-icon.svg" class="search-icon">
                        <span class="search-habari">Search Habari</span>
                    </a>
                </div>
            </nav>
            <div class="slider-content text-white">
                <h1>The history Of<br> money in Africa</h1>
                <div class="slide-btn">
                    <a href="#">Innovation</a>
                    <a href="#" class="ml-1">Insight</a>
                    <a href="#" class="ml-1">Money</a>
                </div>
                <div class="readMore mt-5">
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="sec2">
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-md-6 px-3">
                    <div class="audText1 card">
                        <div class="d-flex">
                            <div>
                                <img src="/images/pic_portrait_1.jpg" alt="pic_portrait_1">
                            </div>
                            <div class="card-body">
                                <div class="d-flex title my-3">
                                    <span>11/10/19</span>
                                    <a href="#">Innovation</a>
                                </div>
                                <h4 class="card-title my-4">The power of connectivity</h4>
                                <p class="card-text my-2 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="audText1 card">
                        <div class="d-flex">
                            <div class="audImg">
                                <img class="imgMain" src="/images/pic_portrait_2.jpg" alt="pic_portrait_1">
                            </div>
                            <div class="card-body">
                                <div class="d-flex title my-3">
                                    <span>11/10/19</span>
                                    <a href="#">Innovation</a>
                                </div>
                                <h4 class="card-title my-4">The Year of the Return</h4>
                                <p class="card-text my-2 mb-5">With Ghana's Year of Return drawing to an end, there are
                                    still many reasons to visit the country. We take a look at some
                                    of the highlights of 2019 as well as the exciting events that will be tak...</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="sec3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="audText1 card">
                        <div>
                            <img src="/images/pic_landscape.jpg" alt="pic_landscape">
                        </div>
                        <div class="card-body">
                            <div class="d-flex title my-2">
                                <span>11/10/19</span>
                                <a href="#">Innovation</a>
                            </div>
                            <h4 class="card-title my-3">End-of-year recuperation</h4>
                            <p class="card-text my-2 mb-5">Use these strategies to get the most
                                 out of your year-end break so you can go back to work feeling rejuvenated</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="audText1 card">
                        <div>
                            <img src="/images/pic_landscape.jpg" alt="pic_landscape">
                        </div>
                        <div class="card-body">
                            <div class="d-flex title my-2">
                                <span>11/10/19</span>
                                <a href="#">Innovation</a>
                            </div>
                            <h4 class="card-title my-3">End-of-year recuperation</h4>
                            <p class="card-text my-2 mb-5">Use these strategies to get the most
                                out of your year-end break so you can go back to work feeling rejuvenated</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="audText1 card">
                        <div>
                            <img src="/images/pic_landscape.jpg" alt="pic_landscape">
                        </div>
                        <div class="card-body">
                            <div class="d-flex title my-2">
                                <span>11/10/19</span>
                                <a href="#">Innovation</a>
                            </div>
                            <h4 class="card-title my-3">Transhumanism and the...</h4>
                            <p class="card-text my-2 mb-5">At its core, the transhumanist movement believes that humans should 
                                embrace advances are available to eradicate human suffering</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>