 <!doctype html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="robots" content="noindex, nofollow" />
     <link rel="shortcut icon" href="http://habari.pocs.tech/public/images/favicon.ico" type="image/x-icon" />
     <title>Habari</title>
 
     <!-- Stylesheet -->
     <link rel="stylesheet" href="/css/style.css" />
 </head>
 
 <body>
     <div class="page-wrapper">
         <!-- include header -->
         <div id="mobiNavModal" class="mobi-nav-modal">
     <div class="overlay-mobi-modal"></div>
     <div class="modal-navigation">
         <ul class="nav navbar-nav">
             <li>
                 <a href="#">Insight</a>
             </li>
             <li>
                 <a href="#">Innovation</a>
             </li>
             <li>
                 <a href="#">Inspiration</a>
             </li>
             <li>
                 <a href="#">Life at Absa</a>
             </li>
             <li>
                 <a href="#">Money</a>
             </li>
             <li>
                 <a href="#">Career</a>
             </li>
         </ul>
     </div>
 </div>
 <%- include('partials/header.ejs') %>
      <main id="app" class="root">
             <!-- 
                 // Habari: Slider Section
             -->
           <%- include('partials/heroSlider.ejs') %>
             <section id="postAlpha" class="post-area post-grid pb-30 pt-30">
                 <div class="container">
                     <article class="grid-two has-portrait-pic wow fadeIn" data-wow-delay='100ms'>
                         <div class="row">
                             <div class="col-md-6 col-sm-6">
                                 <div class="single-post has-audio">
                                     <div class="post-image">
                                         <div class="bg-overlay" style="background-image: url('http://habari.pocs.tech/public/images/posts/pic_portrait_1.jpg')"></div>
                                         <img src="/images/pic_portrait_1.jpg" alt="" class="img-responsive visible-xs visible-sm">
                                         <div class="audio-flex">
                                             <div class="audio-pic">
                                                 <img src="/images/headphones.svg" alt="" />
                                             </div>
                                             <div class="audio-text">This story has audio</div>
                                         </div>
                                         <div class="overlay-shadow"></div>
                                     </div>
                                     <div class="post-content">
                                         <div class="post-top-meta">
                                             <div class="post-date">11/10/19</div>
                                             <div class="post-tags">
                                                 <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                             </div>
                                         </div>
                                         <div class="post-meta">
                                             <h4 class="post-title">The power of connectivity</h4>
                                             <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                         </div>
                                         <div class="post-action">
                                             <a href="/the-power-of-connectivity" class="btn btn-primary-outline btn-22">Read more</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-6 col-sm-6">
                                 <div class="single-post has-audio">
                                     <div class="post-image">
                                         <div class="bg-overlay" style="background-image: url('http://habari.pocs.tech/public/images/posts/pic_portrait_2.jpg')"></div>
                                         <img src="/images/pic_portrait_2.jpg" alt="" class="img-responsive  visible-xs visible-sm">
                                         <div class="audio-flex">
                                             <div class="audio-pic">
                                                 <img src="/images/headphones.svg" alt="" />
                                             </div>
                                             <div class="audio-text">This story has audio</div>
                                         </div>
                                         <div class="overlay-shadow"></div>
                                     </div>
                                     <div class="post-content">
                                         <div class="post-top-meta">
                                             <div class="post-date">11/10/19</div>
                                             <div class="post-tags">
                                                 <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                             </div>
                                         </div>
                                         <div class="post-meta">
                                             <h4 class="post-title">The Year of the Return</h4>
                                             <p class="post-excerpt">With Ghana's Year of Return drawing to an end, there are still many reasons to visit the country. We take a look at some of the highlights of 2019 as well as the exciting events that will be tak...</p>
                                         </div>
                                         <div class="post-action">
                                             <a href="/the-year-of-return" class="btn btn-primary-outline btn-22">Read more</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </article>
                     <article class="grid-three grid_landscape--post wow fadeIn">
                         <div class="row">
                             <div class="col-md-4 pt-30 col-sm-12">
                                 <div class="single-post has-audio">
                                     <!-- 
                                         for good result put image of dimension: 409w : 256h
                                      -->
                                     <div class="post-image">
                                         <img src="/images/pic_landscape.jpg" alt="" class="img-responsive" />
                                         <div class="audio-flex">
                                             <div class="audio-pic">
                                                 <img src="/images/headphones.svg" alt="" />
                                             </div>
                                             <div class="audio-text">This story has audio</div>
                                         </div>
                                         <div class="overlay-shadow"></div>
                                     </div>
                                     <div class="post-content">
                                         <div class="post-top-meta">
                                             <div class="post-date">11/10/19</div>
                                             <div class="post-tags">
                                                 <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                             </div>
                                         </div>
                                         <div class="post-meta">
                                             <h4 class="post-title">Five books by African authors to read this holiday season</h4>
                                             <p class="post-excerpt">From memoirs and biographies to short stories and historical fiction, 2019 has proved to be a prolific year for African authors releasing much-anticipated reads.</p>
                                         </div>
                                         <div class="post-action">
                                             <a href="/five-books" class="btn btn-primary-outline btn-22">Read more</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-4 col-sm-12 pt-30">
                                 <div class="single-post has-audio">
                                     <!-- 
                                         for good result put image of dimension: 409w : 256h
                                      -->
                                     <div class="post-image">
                                         <img src="/images/pic_landscape.jpg" alt="" class="img-responsive" />
                                         <div class="audio-flex">
                                             <div class="audio-pic">
                                                 <img src="/images/headphones.svg" alt="" />
                                             </div>
                                             <div class="audio-text">This story has audio</div>
                                         </div>
                                         <div class="overlay-shadow"></div>
                                     </div>
                                     <div class="post-content">
                                         <div class="post-top-meta">
                                             <div class="post-date">11/10/19</div>
                                             <div class="post-tags">
                                                 <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                             </div>
                                         </div>
                                         <div class="post-meta">
                                             <h4 class="post-title">End-of-year recuperation</h4>
                                             <p class="post-excerpt">Use these strategies to get the most out of your year-end break so you can go back to work feeling rejuvenated</p>
                                         </div>
                                         <div class="post-action">
                                             <a href="end-of-year" class="btn btn-primary-outline btn-22">Read more</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-4 col-sm-12 pt-30">
                                 <div class="single-post has-audio">
                                     <!-- 
                                         for good result put image of dimension: 409w : 256h
                                     -->
                                     <div class="post-image">
                                         <img src="/images/pic_landscape.jpg" alt="" class="img-responsive" />
                                         <div class="audio-flex">
                                             <div class="audio-pic">
                                                 <img src="/images/headphones.svg" alt="" />
                                             </div>
                                             <div class="audio-text">This story has audio</div>
                                         </div>
                                         <div class="overlay-shadow"></div>
                                     </div>
                                     <div class="post-content">
                                         <div class="post-top-meta">
                                             <div class="post-date">11/10/19</div>
                                             <div class="post-tags">
                                                 <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                             </div>
                                         </div>
                                         <div class="post-meta">
                                             <h4 class="post-title">Transhumanism and the future of work</h4>
                                             <p class="post-excerpt">At its core, the transhumanist movement believes that humans should embrace whatever biological and technological advances are available to eradicate human suffering</p>
                                         </div>
                                         <div class="post-action">
                                             <a href="/transhumanism" class="btn btn-primary-outline btn-22">Read more</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </article>
                 </div>
             </section>
 
 
             <%- include('partials/getToKnow.ejs') %>
 
             <section id="postBeta" class="post-area post-grid pt-30 pb-10">
                 <div class="container">
                     <article class="grid-three grid_landscape--post wow fadeIn">
                         <div class="row">
                             <div class="col-md-4 pb-30">
                                 <div class="single-post has-audio">
                                     <!-- 
                                         for good result put image of dimension: 409w : 256h
                                      -->
                                     <div class="post-image">
                                         <img src="/images/pic_landscape.jpg" alt="" class="img-responsive" />
                                         <div class="audio-flex">
                                             <div class="audio-pic">
                                                 <img src="/images/headphones.svg" alt="" />
                                             </div>
                                             <div class="audio-text">This story has audio</div>
                                         </div>
                                         <div class="overlay-shadow"></div>
                                     </div>
                                     <div class="post-content">
                                         <div class="post-top-meta">
                                             <div class="post-date">11/10/19</div>
                                             <div class="post-tags">
                                                 <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                             </div>
                                         </div>
                                         <div class="post-meta">
                                             <h4 class="post-title">What's in a name?</h4>
                                             <p class="post-excerpt">"It is my name… I cannot have another in this life… How may I live without my name? I have given you my soul, leave me my name."</p>
                                         </div>
                                         <div class="post-action">
                                             <a href="/whats-in-a-name" class="btn btn-primary-outline btn-22">Read more</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-4 pb-30">
                                 <div class="single-post has-audio">
                                     <!-- 
                                         for good result put image of dimension: 409w : 256h
                                      -->
                                     <div class="post-image">
                                         <img src="/images/pic_landscape.jpg" alt="" class="img-responsive" />
                                         <div class="audio-flex">
                                             <div class="audio-pic">
                                                 <img src="/images/headphones.svg" alt="" />
                                             </div>
                                             <div class="audio-text">This story has audio</div>
                                         </div>
                                         <div class="overlay-shadow"></div>
                                     </div>
                                     <div class="post-content">
                                         <div class="post-top-meta">
                                             <div class="post-date">11/10/19</div>
                                             <div class="post-tags">
                                                 <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                             </div>
                                         </div>
                                         <div class="post-meta">
                                             <h4 class="post-title">What to look for in a mentor</h4>
                                             <p class="post-excerpt">There’s a Zulu proverb that says, “Indlela ibuzwa kwabaphambili”, which loosely translates to, “If you want know which way to go, ask those who are farther ahead.”</p>
                                         </div>
                                         <div class="post-action">
                                             <a href="/mentor" class="btn btn-primary-outline btn-22">Read more</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-4 pb-30">
                                 <div class="single-post has-audio">
                                     <!-- 
                                         for good result put image of dimension: 409w : 256h
                                     -->
                                     <div class="post-image">
                                         <img src="/images/pic_landscape.jpg" alt="" class="img-responsive" />
                                         <div class="audio-flex">
                                             <div class="audio-pic">
                                                 <img src="/images/headphones.svg" alt="" />
                                             </div>
                                             <div class="audio-text">This story has audio</div>
                                         </div>
                                         <div class="overlay-shadow"></div>
                                     </div>
                                     <div class="post-content">
                                         <div class="post-top-meta">
                                             <div class="post-date">11/10/19</div>
                                             <div class="post-tags">
                                                 <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                             </div>
                                         </div>
                                         <div class="post-meta">
                                             <h4 class="post-title">Life At Absa</h4>
                                             <p class="post-excerpt">The word “whistleblower” has taken on greater significance in the last decade globally. The origin of the word is said to come from the 19th century when English police officers – Bobbies – would blow</p>
                                         </div>
                                         <div class="post-action">
                                             <a href="/lifeAtAbsa" class="btn btn-primary-outline btn-22">Read more</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </article>
                     <article class="grid-two has-portrait-pic wow fadeIn" data-wow-delay='100ms'>
                         <div class="row">
                             <div class="col-md-6 col-sm-6">
                                 <div class="single-post has-audio">
                                     <div class="post-image">
                                         <div class="bg-overlay" style="background-image: url('http://habari.pocs.tech/public/images/posts/pic_portrait_1.jpg')"></div>
                                         <img src="/images/pic_portrait_1.jpg" alt="" class="img-responsive visible-xs visible-sm">
                                         <div class="audio-flex">
                                             <div class="audio-pic">
                                                 <img src="/images/headphones.svg" alt="" />
                                             </div>
                                             <div class="audio-text">This story has audio</div>
                                         </div>
                                         <div class="overlay-shadow"></div>
                                     </div>
                                     <div class="post-content">
                                         <div class="post-top-meta">
                                             <div class="post-date">11/10/19</div>
                                             <div class="post-tags">
                                                 <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                             </div>
                                         </div>
                                         <div class="post-meta">
                                             <h4 class="post-title">Life At Absa: Everybody loves a winner</h4>
                                             <p class="post-excerpt">“Winning breeds winning,” once remarked the late John Robert Wooden, a man considered the greatest basketball head coach of all time.</p>
                                         </div>
                                         <div class="post-action">
                                             <a href="lifeAtAbsa" class="btn btn-primary-outline btn-22">Read more</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-6 col-sm-6">
                                 <div class="single-post has-audio">
                                     <div class="post-image">
                                         <div class="bg-overlay" style="background-image: url('http://habari.pocs.tech/public/images/posts/pic_portrait_2.jpg')"></div>
                                         <img src="/images/pic_portrait_1.jpg" alt="" class="img-responsive visible-xs visible-sm">
                                         <div class="audio-flex">
                                             <div class="audio-pic">
                                                 <img src="/images/headphones.svg" alt="" />
                                             </div>
                                             <div class="audio-text">This story has audio</div>
                                         </div>
                                         <div class="overlay-shadow"></div>
                                     </div>
                                     <div class="post-content">
                                         <div class="post-top-meta">
                                             <div class="post-date">11/10/19</div>
                                             <div class="post-tags">
                                                 <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                             </div>
                                         </div>
                                         <div class="post-meta">
                                             <h4 class="post-title">The Year of the Return</h4>
                                             <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                         </div>
                                         <div class="post-action">
                                             <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </article>
                 </div>
             </section>
         </main>
 
 
         <%- include('partials/footer.ejs') %>

     </div>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="http://habari.pocs.tech/public/libs/jquery-1124/jquery-1.12.4.min.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="http://habari.pocs.tech/public/libs/bootstrap-v341/js/bootstrap.min.js"></script>
     <script src="http://habari.pocs.tech/public/libs/slick-181/slick/slick.min.js"></script>
     <script src="http://habari.pocs.tech/public/libs/wow/wow.min.js"></script>
     <script src="http://habari.pocs.tech/public/libs/match-height/jquery.matchHeight-min.js"></script>
     <script src="http://habari.pocs.tech/public/libs/script.js"></script>
     <script>
         function highlightSlideHr() {
             var currSlideWidth = $('.slider-nav .slick-current').innerWidth();
             $('.slider-active-hr').css('width', currSlideWidth + 'px');
             var position = $('.slider-nav .slick-current').position();
             var left = position.left + 'px';
             $('.slider-active-hr').css({'transform' : 'translate3d(' + left +', 0,0)'});
 
         }
     (function($) {
       $(document).ready(function() {
         toggleMobiMenu();
         // Elements Animation
         if($('.wow').length){
             var wow = new WOW(
             {
                 boxClass:     'wow',      // animated element css class (default is wow)
                 animateClass: 'animated', // animation css class (default is animated)
                 offset:       0,          // distance to the element when triggering the animation (default is 0)
                 mobile:       false,       // trigger animations on mobile devices (default is true)
                 live:         true       // act on asynchronously loaded content (default is true)
             }
             );
             wow.init();
         }
 
         $("#scrollDown").on('click', function(e) {
             e.preventDefault();
             $('html, body').animate({
                 scrollTop: $("#postAlpha").offset().top
             }, 500);
         });
         $('.habari-slider').slick(
           {
             dots: false,
             infinite: true,
             speed: 500,
             fade: true,
             swipe: false,
             draggable: false,
             cssEase: 'linear',
             asNavFor: '.slider-nav',
             responsive: [
             {
               breakpoint: 768,
               settings: {
                   dots: true,
                   autoplay: true,
                   autoplaySpeed: 5000
               }
             }
           ]
           }
         );
         $('.slider-nav').slick({
             slidesToShow: 4,
             slidesToScroll: 1,
             asNavFor: '.habari-slider',
             dots: false,
             centerMode: false,
             swipe: false,
             focusOnSelect: true,
             draggable: false,
             mobileFirst: true
         });
 //     jQuery( '#slick-slider-2 .slick-slide' ).on( 'click', function () {
 // 	jQuery( '#slick-slider-1' ).slick( 'slickGoTo', jQuery( this ).data( 'slickIndex') );
 // } );
         $('.slider-nav').on('click', function(event){
             highlightSlideHr();
         });
 
           highlightSlideHr();
           shiftHeroSlider();
           stickyFooter();
           postEqHeight()
           $(window).resize(function() {
             shiftHeroSlider();
             stickyFooter();
             highlightSlideHr();
             postEqHeight();
           })
         })
     })(jQuery);
     </script>
 </body>
 
 </html>