<!-- //
    include config.php
 -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="http://habari.pocs.tech/public/images/favicon.ico" type="image/x-icon" />
    <title>Habari</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="page-wrapper">
        <div id="mobiNavModal" class="mobi-nav-modal">
            <div class="overlay-mobi-modal"></div>
            <div class="modal-navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Insight</a>
                    </li>
                    <li>
                        <a href="#">Innovation</a>
                    </li>
                    <li>
                        <a href="#">Inspiration</a>
                    </li>
                    <li>
                        <a href="#">Life at Absa</a>
                    </li>
                    <li>
                        <a href="#">Money</a>
                    </li>
                    <li>
                        <a href="#">Career</a>
                    </li>
                </ul>
            </div>
        </div>
        <%- include('partials/header.ejs') %>

            <main id="app" class="root">
                <!-- 
                PB - Page Banner
             -->
                <div class="detail-page has-pb-holder">
                    <section class="pb-wrapper">
                        <div class="image-overlay"
                            style="background-image: url('http://habari.pocs.tech/public/images/image_content/pb_image_1.jpg')">
                        </div>
                        <div class="pb-content text-center">
                            <div class="container">
                                <div class="ip-banner-content">
                                    <h1 class="pb-title">Life At Absa</h1>
                                    <p class="pb-excerpt">The word “whistleblower” has taken on greater significance in
                                        the last decade globally. The origin of the word is said to come from the 19th
                                        century when English police officers – Bobbies</p>
                                    <div class="tag-group">
                                        <a href="#" class="badge badge-white badge-btn text-uppercase">Innovation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="post-details">
                        <div class="container">
                            <div class="post-card">
                                <div class="posts post-mth-1 has-post-share">
                                    <div class="post-content">
                                        <div class="post-share-meta wow fadeInUp" data-wow-delay='600ms'>
                                            <div class="post-ss">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-twitter.svg"
                                                                class="iconut-di_twitter">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-linkedin.svg"
                                                                class="iconut-di_linkedin">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-facebook.svg"
                                                                class="iconut-di_facebook">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-cb-tr-envelope-small.svg"
                                                                class="iconcb-tr_envelope-small">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ill-te-printer.svg"
                                                                class="iconill-te_printer">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="posted-by">
                                                <!-- Avatar Image Size: 92w:92h -->
                                                <div class="image">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/avatar.jpg"
                                                        srcset="http://habari.pocs.tech/public/images/image_content/avatar@2x.jpg 2x,
                                                     http://habari.pocs.tech/public/images/image_content/avatar@3x.jpg 3x"
                                                        class="avatar" />
                                                </div>
                                                <div class="avatar-name text-uppercase">
                                                    Norma Young
                                                </div>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="post-story">
                                                        <h4 class="mt-0 mb-0">Make that call!</h4>
                                                        <p class="mb-48">The word “whistleblower” has taken on greater
                                                            significance in the last decade globally. The origin of the
                                                            word is said to come from the 19th century when English
                                                            police officers – Bobbies – would blow a whistle to both
                                                            call for back-up and draw attention to a crime being
                                                            committed. Initially having negative connotations, the word
                                                            has evolved to its current definition, which is “someone who
                                                            finds out that the organisation they are working for is
                                                            doing something immoral or illegal and tells the authorities
                                                            or the public about it”, according to the Collins
                                                            Dictionary.</p>
                                                        <p class="mb-48">Research shows that approximately 40% of
                                                            employees across the world witness misconduct, but don’t
                                                            report it. One of the main reasons for this is that
                                                            potential whistleblowers believe their tip-offs can be
                                                            traced back to them and, as a result, they could be
                                                            victimised.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="magic-post-wrapper mb-70 mt-70">
                                    <img src="http://habari.pocs.tech/public/images/image_content/image-big-1.jpg"
                                        alt="" class="img-responsive-w100">
                                </div>
                                <div class="posts post-mth-2">
                                    <div class="post-content">
                                        <div class="post-p1 pb-60 pl-30 pr-30 plr-xs-15">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-12 col-xs-12">
                                                    <div class="description">
                                                        <div class="post-story pl-52 story_1 pl-xs-0">
                                                            <p class="mb-48">As Absa, we encourage whistleblowing and
                                                                also recognise the absolute necessity of protecting
                                                                whistleblowers with the provision of a safe and
                                                                easy-to-use mechanism to blow the whistle.</p>
                                                            <p class="mb-48">Between January 2019 and October 2019, we
                                                                have seen no less than 428 investigations initiated as a
                                                                result of whistleblowers within the business raising
                                                                their concerns. These investigations have resulted in
                                                                instances of bribery and corruption, fraud, money
                                                                laundering and unethical behaviour, to name a few, being
                                                                detected. These matters might not make the headlines
                                                                like, for example, the WikiLeaks or the Panama Papers,
                                                                but they have resulted in significant risks in the bank
                                                                being identified and addressed.</p>
                                                            <p class="mb-48">Since 2015, the number of whistleblowing
                                                                cases has risen from 342 per annum to approximately 500
                                                                per annum – an increase of 46%. The average number of
                                                                calls per month has risen from 29 in 2015 to 42 in 2019.
                                                            </p>
                                                            <p class="mb-0">Is this increase a good thing, or a bad
                                                                thing? Well, it’s a good thing. It clearly demonstrates
                                                                that colleagues are now more comfortable to raise their
                                                                concerns without fear of reprisal, and that is a sign of
                                                                an ethically mature organisation. This steady increase
                                                                in whistleblowing cases therefore points to an ethical
                                                                shift in the organisation where colleagues now feel more
                                                                encouraged to call out wrongdoing. This also shows that
                                                                Absa is an institution where employees feel a sense of
                                                                ownership, in effect saying that, “If you are stealing
                                                                from the bank, you are effectively stealing from me.”
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 hidden-xs hidden-sm">
                                                    <div id="widget_relatedStories" class="card-related-stores">
                                                        <h5 class="card-title text-uppercase">Related Stories</h5>
                                                        <div class="related-post-wrapper rel_post--list">
                                                            <div class="related-post">
                                                                <div class="post-image">
                                                                    <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg"
                                                                        alt="" class="img-responsive-w100" />
                                                                </div>
                                                                <div class="post-meta">
                                                                    <p class="excerpt">If it meant that all cities had
                                                                        beaches as beautiful as Barcelona’s, we think
                                                                        more places should ship in powdery, white sand.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="related-post">
                                                                <div class="post-image">
                                                                    <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg"
                                                                        alt="" class="img-responsive-w100" />
                                                                </div>
                                                                <div class="post-meta">
                                                                    <p class="excerpt">If it meant that all cities had
                                                                        beaches as beautiful as Barcelona’s, we think
                                                                        more places</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="magic-post-wrapper pl-30 pr-30">
                                            <div class="row">
                                                <div class="col-md-4 mb-sm-30 mb-xs-30">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/pic_r_1.png"
                                                        alt="" class="img-responsive-w100" />
                                                </div>
                                                <div class="col-md-4 mb-sm-30 mb-xs-30">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/pic_r_2.png"
                                                        alt="" class="img-responsive-w100" />
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/pic_r_3.png"
                                                        alt="" class="img-responsive-w100" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-p2 pt-60 pl-30 pr-30 pb-xs-0">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="description pl-30 pl-xs-0">
                                                        <div class="post-story pl-30 story_2 pl-xs-0">
                                                            <p class="mb-48">In addition, our whistleblowing campaigns
                                                                are aimed at actively encouraging employees to blow the
                                                                whistle on all forms of wrongdoing. Fear of reprisal
                                                                should not be a factor that colleagues who want to raise
                                                                genuine concerns anonymously should worry about. </p>
                                                            <p class="mb-48">It is for this reason that we use the
                                                                services of Tip-Offs Anonymous (a subsidiary of
                                                                Deloitte) as an independent service provider that
                                                                guarantees the anonymity of whistleblowers. Tip-Offs
                                                                Anonymous provides a hotline, website and other channels
                                                                through which whistleblowing reports can be made and
                                                                gives any whistleblower confidence that their identity
                                                                will be protected should they wish to be anonymous.
                                                                Effectively, they provide a buffer between the
                                                                whistleblower and Absa to ensure the anonymity of the
                                                                whistleblower.</p>
                                                            <p class="mb-48">The hotline provided by Tip-Offs Anonymous
                                                                is user-friendly and allows whistleblowers to make a
                                                                call in any of South Africa’s 11 official languages and
                                                                other languages widely used in Africa. For our ARO
                                                                colleagues, a generic call-back number is provided.
                                                                Similarly, the website is easy to use and is
                                                                self-explanatory. </p>
                                                            <p class="mb-48">All tip-offs channelled through Tip-Offs
                                                                Anonymous are then collated by Tip-Offs Anonymous and
                                                                routed to the Priority Investigations & Whistleblowing
                                                                team, which assigns each matter for investigation. The
                                                                Priority Investigations & Whistleblowing team doesn’t
                                                                attempt in any way to identify the whistleblower or to
                                                                establish the motive for the whistleblowing report. </p>
                                                            <p class="mb-48">Protection of whistleblowers is provided,
                                                                as set out in our Whistleblowing Policy and Legislation.
                                                                In South Africa, the Protected Disclosures Act (and its
                                                                amendment) outlaws any kind of victimisation against
                                                                whistleblowers who blow the whistle on specific issues,
                                                                including criminal offences, failure to comply with
                                                                legal obligations, miscarriages of justice, endangering
                                                                of the health or safety of individuals, damage to the
                                                                environment, or unfair discrimination.</p>
                                                            <p class="mb-48">Our policy, as Absa, incorporates the
                                                                conditions of the Act, but goes further to protect all
                                                                whistleblowers from victimisation where the whistle is
                                                                blown on unethical conduct too. This is in line with the
                                                                King IV Code of Corporate Governance, which states that
                                                                provision is to be made for providing safe reporting
                                                                (whistleblowing) mechanisms for persons who wish to
                                                                report unethical conduct in a confidential manner.</p>
                                                            <h4 class="mb-0">If you see something wrong, make the call
                                                                and make a difference. <br />#teamresponsibility. </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="post-area related-post post-grid pb-30 pt-30 bg-white">
                        <div class="container">
                            <h2 class="post-heading">In and around Habari</h2>
                            <article class="grid-three grid_landscape--post wow fadeIn">
                                <div class="row">
                                    <div class="col-md-4 pt-30 pb-30 pb-sm-0 pb-xs-0 col-sm-12">
                                        <div class="single-post has-audio">
                                            <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                                            <div class="post-image">
                                                <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg"
                                                    alt="" class="img-responsive-w100" />
                                                <div class="audio-flex">
                                                    <div class="audio-pic">
                                                        <img src="http://habari.pocs.tech/public/images/icons/headphones.svg"
                                                            alt="" />
                                                    </div>
                                                    <div class="audio-text">This story has audio</div>
                                                </div>
                                                <div class="overlay-shadow"></div>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-top-meta">
                                                    <div class="post-date">11/10/19</div>
                                                    <div class="post-tags">
                                                        <a href="#"
                                                            class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                                    </div>
                                                </div>
                                                <div class="post-meta">
                                                    <h4 class="post-title">The power of connectivity</h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation</p>
                                                </div>
                                                <div class="post-action">
                                                    <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 pt-30 pb-30 pb-sm-0 pb-xs-0">
                                        <div class="single-post has-audio">
                                            <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                                            <div class="post-image">
                                                <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg"
                                                    alt="" class="img-responsive-w100" />
                                                <div class="audio-flex">
                                                    <div class="audio-pic">
                                                        <img src="http://habari.pocs.tech/public/images/icons/headphones.svg"
                                                            alt="" />
                                                    </div>
                                                    <div class="audio-text">This story has audio</div>
                                                </div>
                                                <div class="overlay-shadow"></div>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-top-meta">
                                                    <div class="post-date">11/10/19</div>
                                                    <div class="post-tags">
                                                        <a href="#"
                                                            class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                                    </div>
                                                </div>
                                                <div class="post-meta">
                                                    <h4 class="post-title">The Year of the Return</h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation</p>
                                                </div>
                                                <div class="post-action">
                                                    <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 pt-30 pb-30">
                                        <div class="single-post has-audio">
                                            <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                                            <div class="post-image">
                                                <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg"
                                                    alt="" class="img-responsive-w100" />
                                                <div class="audio-flex">
                                                    <div class="audio-pic">
                                                        <img src="http://habari.pocs.tech/public/images/icons/headphones.svg"
                                                            alt="" />
                                                    </div>
                                                    <div class="audio-text">This story has audio</div>
                                                </div>
                                                <div class="overlay-shadow"></div>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-top-meta">
                                                    <div class="post-date">11/10/19</div>
                                                    <div class="post-tags">
                                                        <a href="#"
                                                            class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                                    </div>
                                                </div>
                                                <div class="post-meta">
                                                    <h4 class="post-title">The Year of the Return</h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation</p>
                                                </div>
                                                <div class="post-action">
                                                    <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
            </main>


            <%- include('partials/footer.ejs') %>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://habari.pocs.tech/public/libs/jquery-1124/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://habari.pocs.tech/public/libs/bootstrap-v341/js/bootstrap.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/wow/wow.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/match-height/jquery.matchHeight-min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/script.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                if ($('.wow').length) {
                    var wow = new WOW(
                        {
                            boxClass: 'wow',      // animated element css class (default is wow)
                            animateClass: 'animated', // animation css class (default is animated)
                            offset: 0,          // distance to the element when triggering the animation (default is 0)
                            mobile: false,       // trigger animations on mobile devices (default is true)
                            live: true       // act on asynchronously loaded content (default is true)
                        }
                    );
                    wow.init();
                }
                shiftHeroSlider();
                stickyFooter();
                toggleMobiMenu();
                postEqHeight();
                $(window).resize(function () {
                    shiftHeroSlider();
                    stickyFooter();
                    postEqHeight();
                })
            })

        })(jQuery);
    </script>
</body>

</html>