<!-- //
    include config.php
 -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="http://habari.pocs.tech/public/images/favicon.ico" type="image/x-icon" />
    <title>Habari</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="page-wrapper">
        <div id="mobiNavModal" class="mobi-nav-modal">
            <div class="overlay-mobi-modal"></div>
            <div class="modal-navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Insight</a>
                    </li>
                    <li>
                        <a href="#">Innovation</a>
                    </li>
                    <li>
                        <a href="#">Inspiration</a>
                    </li>
                    <li>
                        <a href="#">Life at Absa</a>
                    </li>
                    <li>
                        <a href="#">Money</a>
                    </li>
                    <li>
                        <a href="#">Career</a>
                    </li>
                </ul>
            </div>
        </div>
        <%- include('partials/header.ejs') %>

            <main id="app" class="root">
                <!-- 
                PB - Page Banner
             -->
                <div class="detail-page has-pb-holder">
                    <section class="pb-wrapper">
                        <div class="image-overlay"
                            style="background-image: url('http://habari.pocs.tech/public/images/image_content/pb_image_1.jpg')">
                        </div>
                        <div class="pb-content text-center">
                            <div class="container">
                                <div class="ip-banner-content">
                                    <h1 class="pb-title">What to look for in a mentor</h1>
                                    <p class="pb-excerpt"> There’s a Zulu proverb that says, “Indlela ibuzwa
                                        kwabaphambili”, which loosely translates to, “If you want know which way to go,
                                        ask those who are farther ahead.”</p>
                                    <div class="tag-group">
                                        <a href="#" class="badge badge-white badge-btn text-uppercase">Innovation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="post-details">
                        <div class="container">
                            <div class="post-card">
                                <div class="posts post-mth-1 has-post-share">
                                    <div class="post-content">
                                        <div class="post-share-meta wow fadeInUp" data-wow-delay='600ms'>
                                            <div class="post-ss">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-twitter.svg"
                                                                class="iconut-di_twitter">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-linkedin.svg"
                                                                class="iconut-di_linkedin">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-facebook.svg"
                                                                class="iconut-di_facebook">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-cb-tr-envelope-small.svg"
                                                                class="iconcb-tr_envelope-small">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <!-- svg -->
                                                            <img src="http://habari.pocs.tech/public/images/icons/icon-ill-te-printer.svg"
                                                                class="iconill-te_printer">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="posted-by">
                                                <!-- Avatar Image Size: 92w:92h -->
                                                <div class="image">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/avatar.jpg"
                                                        srcset="http://habari.pocs.tech/public/images/image_content/avatar@2x.jpg 2x,
                                                     http://habari.pocs.tech/public/images/image_content/avatar@3x.jpg 3x"
                                                        class="avatar" />
                                                </div>
                                                <div class="avatar-name text-uppercase">
                                                    Norma Young
                                                </div>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p class="txt-size-h text-blurb mb-80">
                                                        There’s a Zulu proverb that says, “Indlela ibuzwa
                                                        kwabaphambili”, which loosely translates to, “If you want know
                                                        which way to go, ask those who are farther ahead.” This is a
                                                        really savvy career strategy for those seeking mentorship.
                                                    </p>
                                                    <hr class="hr-primary size-21 mb-28 mt-0" />
                                                    <p class="mb-48">Although the term “mentorship” has become
                                                        increasingly popular in the past two decades, the concept has
                                                        been in practice for as long as mankind has been alive. Whether
                                                        it’s been in the form of a religious guru teaching disciples, an
                                                        elder advising those younger, or an aspirant tradesman seeking
                                                        an apprenticeship with an expert, learning from those with more
                                                        experience has always been critical to survival and development.
                                                    </p>
                                                    <p class="mb-48">But it’s not enough to seek out guidance from just
                                                        anyone farther along on the journey. For greater impact, it’s
                                                        important to identify your specific needs and then look for an
                                                        individual who can speak specifically to them. In a corporate
                                                        setting, there’s often a boss or a line manager who can be
                                                        helpful. For entrepreneurs, getting input can be harder, but
                                                        getting the right advice from the right person can be very
                                                        effective.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="magic-post-wrapper mb-70 mt-70">
                                    <img src="http://habari.pocs.tech/public/images/image_content/image-big-1.jpg"
                                        alt="" class="img-responsive-w100">
                                </div>
                                <div class="posts post-mth-2">
                                    <div class="post-content">
                                        <div class="post-p1 pb-60 pl-30 pr-30 plr-xs-15">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-12 col-xs-12">
                                                    <div class="description">
                                                        <div class="post-story pl-52 story_1 pl-xs-0">
                                                            <p class="mb-48">“The obvious relationships that a small
                                                                business wants to nurture are those with clients,
                                                                funders, suppliers or mentors,” says Desigan Chetty,
                                                                Head of Operations at Property Point, who runs a
                                                                mentorship and networking platform called
                                                                Entrepreneurship to the Point. “Investing in skills,
                                                                compliance, and services are all essential for building
                                                                sustainable small businesses, but the human side of
                                                                doing business and the relationships we invest in are
                                                                equally important.”</p>
                                                            <p class="mb-48">Getting a mentor can change your career
                                                                trajectory, so if you’re looking for one, here are four
                                                                different types to consider. Evaluate your needs and
                                                                then approach individuals who might be suitable. Also
                                                                remember that you can have more than one mentor, and
                                                                that they can help you with both technical knowledge and
                                                                soft skills.</p>
                                                            <div class="mb-0">
                                                                <p class="mb-0"><strong>Types of mentors: </strong></p>
                                                                <ul>
                                                                    <li><strong>Profession/trade mentor:</strong> This
                                                                        is someone who has previously held your job
                                                                        title or done a job very similar to yours. </li>
                                                                    <li><strong>Industry mentor:</strong> It doesn’t
                                                                        have to be the most famous person but could be
                                                                        an individual who’s established in and dedicated
                                                                        to your industry. Social media is a good place
                                                                        to search for such people.</li>
                                                                    <li><strong>Organisational mentor:</strong> Approach
                                                                        someone in your existing workplace. Their
                                                                        insights could help with setting a growth
                                                                        pipeline suited to your specific company.</li>
                                                                    <li><strong>Work-process mentor:</strong> This can
                                                                        be a person who guides you on productivity and
                                                                        tricks of the trade to work smarter.</li>
                                                                    <li><strong>Technology mentor:</strong> The Fourth
                                                                        Industrial Revolution is revolutionising
                                                                        workspaces so staying on top of technological
                                                                        developments is important. Be aware that this
                                                                        type of mentor may be younger than you.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 hidden-xs hidden-sm">
                                                    <div id="widget_relatedStories" class="card-related-stores">
                                                        <h5 class="card-title text-uppercase">Related Stories</h5>
                                                        <div class="related-post-wrapper rel_post--list">
                                                            <div class="related-post">
                                                                <div class="post-image">
                                                                    <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg"
                                                                        alt="" class="img-responsive-w100" />
                                                                </div>
                                                                <div class="post-meta">
                                                                    <p class="excerpt">If it meant that all cities had
                                                                        beaches as beautiful as Barcelona’s, we think
                                                                        more places should ship in powdery, white sand.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="related-post">
                                                                <div class="post-image">
                                                                    <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg"
                                                                        alt="" class="img-responsive-w100" />
                                                                </div>
                                                                <div class="post-meta">
                                                                    <p class="excerpt">If it meant that all cities had
                                                                        beaches as beautiful as Barcelona’s, we think
                                                                        more places</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="magic-post-wrapper pl-30 pr-30">
                                            <div class="row">
                                                <div class="col-md-4 mb-sm-30 mb-xs-30">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/pic_r_1.png"
                                                        alt="" class="img-responsive-w100" />
                                                </div>
                                                <div class="col-md-4 mb-sm-30 mb-xs-30">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/pic_r_2.png"
                                                        alt="" class="img-responsive-w100" />
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="http://habari.pocs.tech/public/images/image_content/pic_r_3.png"
                                                        alt="" class="img-responsive-w100" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-p2 pt-60 pl-30 pr-30 pb-xs-0">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="description pl-30 pl-xs-0">
                                                        <div class="post-story pl-30 story_2 pl-xs-0">
                                                            <h4 class="mb-0">Indirect Mentorship</h4>
                                                            <p class="mb-48">When you’re feeling stuck and in need of
                                                                guidance, there are alternatives to sending out an SOS
                                                                email to people you admire. You may not get a neatly
                                                                packaged answer that speaks specifically to your
                                                                situation, but here are three ways to get help
                                                                independent of a face-to-face meeting or telephone call.
                                                            </p>
                                                            <p class="mb-48"><strong>Books:</strong> From biographies
                                                                and business bestsellers to industry handbooks,
                                                                literature offers a vast pool in which you can search.
                                                                Make it a habit to regularly read works pertaining to
                                                                your sector and to also acquire insights from people in
                                                                trades different to your own. You may be surprised by
                                                                what you can learn and apply to your circumstances. Best
                                                                of all, books are a resource you can return to
                                                                repeatedly without feeling like you’re a burden or are
                                                                taking up too much of someone’s time.</p>
                                                            <p class="mb-48"><strong>Multimedia content:</strong>
                                                                Watching someone you admire narrate their career journey
                                                                can be profoundly impactful. Observing their body
                                                                language, demeanour and personality this way can
                                                                heighten understanding, and consequently shape your own
                                                                behaviour. Available options for this type of learning
                                                                include TED Talks, podcasts, and recordings of
                                                                conferences, workshops and seminars. Depending on your
                                                                needs, you could actually even have a schedule of
                                                                regular “mentorship” hours, where you set aside time to
                                                                consume video or audio content about a specific topic or
                                                                from a specific mentor.</p>
                                                            <p class="mb-0"><strong>Crowdsourcing:</strong> Social media
                                                                facilitates the opportunity to get guidance from people
                                                                you otherwise might not have access to. This is helpful
                                                                both to potentially engage with high-profile individuals
                                                                and also hear a variety and bigger quantity of voices.
                                                                If it won’t jeopardise your job, consider posting your
                                                                query online and then engage with the people who
                                                                comment. Whether you’re trying to decide between
                                                                studying either for a Master’s or MBA, or are dealing
                                                                with an entrepreneurial conundrum, there’s a high
                                                                possibility that someone on LinkedIn or Twitter has
                                                                faced and overcome a similar situation.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="post-area related-post post-grid pb-30 pt-30 bg-white">
                        <div class="container">
                            <h2 class="post-heading">In and around Habari</h2>
                            <article class="grid-three grid_landscape--post wow fadeIn">
                                <div class="row">
                                    <div class="col-md-4 pt-30 pb-30 pb-sm-0 pb-xs-0 col-sm-12">
                                        <div class="single-post has-audio">
                                            <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                                            <div class="post-image">
                                                <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg"
                                                    alt="" class="img-responsive-w100" />
                                                <div class="audio-flex">
                                                    <div class="audio-pic">
                                                        <img src="http://habari.pocs.tech/public/images/icons/headphones.svg"
                                                            alt="" />
                                                    </div>
                                                    <div class="audio-text">This story has audio</div>
                                                </div>
                                                <div class="overlay-shadow"></div>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-top-meta">
                                                    <div class="post-date">11/10/19</div>
                                                    <div class="post-tags">
                                                        <a href="#"
                                                            class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                                    </div>
                                                </div>
                                                <div class="post-meta">
                                                    <h4 class="post-title">The power of connectivity</h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation</p>
                                                </div>
                                                <div class="post-action">
                                                    <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 pt-30 pb-30 pb-sm-0 pb-xs-0">
                                        <div class="single-post has-audio">
                                            <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                                            <div class="post-image">
                                                <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg"
                                                    alt="" class="img-responsive-w100" />
                                                <div class="audio-flex">
                                                    <div class="audio-pic">
                                                        <img src="http://habari.pocs.tech/public/images/icons/headphones.svg"
                                                            alt="" />
                                                    </div>
                                                    <div class="audio-text">This story has audio</div>
                                                </div>
                                                <div class="overlay-shadow"></div>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-top-meta">
                                                    <div class="post-date">11/10/19</div>
                                                    <div class="post-tags">
                                                        <a href="#"
                                                            class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                                    </div>
                                                </div>
                                                <div class="post-meta">
                                                    <h4 class="post-title">The Year of the Return</h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation</p>
                                                </div>
                                                <div class="post-action">
                                                    <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 pt-30 pb-30">
                                        <div class="single-post has-audio">
                                            <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                                            <div class="post-image">
                                                <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg"
                                                    alt="" class="img-responsive-w100" />
                                                <div class="audio-flex">
                                                    <div class="audio-pic">
                                                        <img src="http://habari.pocs.tech/public/images/icons/headphones.svg"
                                                            alt="" />
                                                    </div>
                                                    <div class="audio-text">This story has audio</div>
                                                </div>
                                                <div class="overlay-shadow"></div>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-top-meta">
                                                    <div class="post-date">11/10/19</div>
                                                    <div class="post-tags">
                                                        <a href="#"
                                                            class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                                                    </div>
                                                </div>
                                                <div class="post-meta">
                                                    <h4 class="post-title">The Year of the Return</h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation</p>
                                                </div>
                                                <div class="post-action">
                                                    <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
            </main>


         <%- include('partials/footer.ejs') %>
          
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://habari.pocs.tech/public/libs/jquery-1124/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://habari.pocs.tech/public/libs/bootstrap-v341/js/bootstrap.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/wow/wow.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/match-height/jquery.matchHeight-min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/script.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                if ($('.wow').length) {
                    var wow = new WOW(
                        {
                            boxClass: 'wow',      // animated element css class (default is wow)
                            animateClass: 'animated', // animation css class (default is animated)
                            offset: 0,          // distance to the element when triggering the animation (default is 0)
                            mobile: false,       // trigger animations on mobile devices (default is true)
                            live: true       // act on asynchronously loaded content (default is true)
                        }
                    );
                    wow.init();
                }
                shiftHeroSlider();
                stickyFooter();
                toggleMobiMenu();
                postEqHeight();
                $(window).resize(function () {
                    shiftHeroSlider();
                    stickyFooter();
                    postEqHeight();
                })
            })

        })(jQuery);
    </script>
</body>

</html>