<section id="getToKnow" class="gtk--section bg-magenta">
    <div class="container">
        <h2 class="section-title mt-0 mb-0">Get to know</h2>
        <article class="gtk-ic">
            <div class="row-flex">
                <div class="col-flex flex-content wow fadeInRight" data-wow-delay='600ms'>
                    <div class="gtk-content">
                        <div class="badge-group">
                            <a href="#" class="badge badge-white badge-btn text-uppercase">Inspiration</a>
                            <a href="#" class="badge badge-white badge-btn text-uppercase">Insight</a>
                        </div>
                        <div class="gtk-text">
                            <h3>Getting to know Nkhensani Rihlampfu</h3>
                            <p>Nkhensani is one of 3 ambassadors of the Absa L'Atelier art competition and an accomplished artist.</p>
                        </div>
                        <div class="call-to-action">
                            <a class="btn btn-primary-outline btn-22" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-flex wow fadeInLeft">
                    <div class="gtk-image">
                        <img src="http://habari.pocs.tech/public/images/images_home/bitmap5.jpg" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>