<header id="siteHeader" class="site-header">
  <div class="container">
      <div class="header-iw">
          <a class="logo" href="/">
              <!-- png -->
              <img src="/images/logo-white.png" srcset="http://habari.pocs.tech/public/images/logo/logo-white@2x.png 2x,
              http://habari.pocs.tech/public/images/logo/logo-white@3x.png 3x" class="white">
          </a>
          <nav class="primary-menu primary-menu__d">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="#">Insight</a>
                  </li>
                  <li>
                      <a href="#">Innovation</a>
                  </li>
                  <li>
                      <a href="#">Inspiration</a>
                  </li>
                  <li>
                      <a href="#">Life at Absa</a>
                  </li>
                  <li>
                      <a href="#">Money</a>
                  </li>
                  <li>
                      <a href="#">Career</a>
                  </li>
              </ul>
          </nav>
          <a class="search-container pointer" id="siteSearch">
              <img src="http://habari.pocs.tech/public/images/icons/search-icon.svg" class="search-icon">
              <span class="search-habari">Search Habari</span>
          </a>
          <div class="menu-icon__m pointer">
              <span class="menu-icon__line menu-icon__line-left"></span>
              <span class="menu-icon__line"></span>
              <span class="menu-icon__line menu-icon__line-right"></span>
          </div>
      </div>
  </div>
</header>   